<launch>
  <env name="LD_LIBRARY_PATH" value="$(optenv HOME)/acados/lib:$(optenv LD_LIBRARY_PATH)" />
  <env name="ACADOS_SOURCE_DIR" value="$(optenv HOME)/acados" />
  

  <node pkg="mpc_controller" type="mpc_controller_node" name="mpc_controller" output="screen">
    <param name="" textfile="$(find mpc_controller)/config/controller_params.yaml" type="yaml"/>
  </node>
</launch>
