<launch>
  <!-- set acados variables according to your system -->
  <env name="LD_LIBRARY_PATH" value="$(optenv HOME)/acados/lib:$(optenv LD_LIBRARY_PATH)" />
  <env name="ACADOS_SOURCE_DIR" value="$(optenv HOME)/acados" />
  
  <node pkg="mpc_controller" type="wbc_controller_node" name="mpc_controller" output="screen">
    <param name="" textfile="$(find mpc_controller)/config/controller_params.yaml" type="yaml"/>
  </node>

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" output="screen">
  </node>

  <node pkg="olympus_observer" type="olympusObserver" name="olympus_observer" output="screen">
    <param name="robot" textfile="$(find olympus_observer)/configs/real_offsets.yaml" type="yaml"/>
  </node>

</launch>